@font-face {
  font-family: 'Comfortaa';
  src: url('/src/assets/Comfortaa.ttf') format('truetype');
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  color: #000;
  transition: 0.25s;
  font-family: 'Comfortaa', sans-serif;
}
body{
  background-color: var(--light-blue-1);
}
:root{
  --purple : #995fedff;
  --light-blue-1 : #99ffecff;
  --btn-border: hsla(0, 0%, 0%, .75);
}



@media all and (min-width: 280px){ 

 #app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 
 #nav #logo-container{
  margin-top: -50px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #nav #logo-container #logo{
  width: 100%;
 }

 #main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
 }


 #home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
 }

 #logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 }

#logo{
  width: 80%;
  color: var(--light-blue-1);
  margin-top: 30px;
  border-radius: 10px;
  font-size: 32px;
 }


 #play-btn{
  background: none;
  background-color: var(--purple);
  color: #fff;
  margin-top: 175px;
  border-radius: 15px;
  padding: 7px 45px;
  font-size: 42px;
  font-weight: bold;
  border: 5px solid var(--btn-border);
  border-radius: 50px;
  transition: .25s;

  animation: play 1s infinite alternate ease-in-out;
 }
 @keyframes play{
  from{ 
    padding: 7px 45px;
    font-size: 42px;
    opacity: 1;
  }
  to{ 
    padding: 12px 50px;
    font-size: 45px;
    opacity: 0.85;
  }
 }

 #sudoku-container{
  margin: 20px 0;
  position: relative;
  width: 100%;
  height: 80vh;
 }

  .sudoku{
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position: absolute;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    z-index: -1;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px;
  }
  .mid-box{
    width: 33.3333%;
    height: 33.33333333333%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .little-box{
    width: 33.333333%;
    height: 33.33333333%;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #grid{
    opacity: 0;
    left: 5px;
    right: 0;
    bottom: 0;
    top: 5px;
    margin: auto;
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 2;
  }
  #grid img{
    width: 98%;
  }
  /*.tu, .ta, .ti{
    background-color: red;
  }*/

}













@media all and (min-width: 370px){
  .sudoku{
    width: 340px;
    height: 340px;
  }

  #grid{
    width: 340px;
    height: 340px;
  }
}












@media all and (min-width: 620px){
  .sudoku{
    font-size: 20px;
    width: 460px;
    height: 460px;
  }

  #grid{
    width: 460px;
    height: 460px;
  }
}


